.connect {
	.connect__title {
		font-weight: 700;
		font-size: 3.125rem;
		color: #0b0e14;
		margin: 42px 0;
	}
	.connect__subTitle {
		font-size: 1.125rem;
		line-height: 21px;
		color: #6f6f6f;
		margin-bottom: 30px;
	}

	.connect__form {
		.connect__form__top {
			display: flex;
			gap: 20px;
			justify-content: space-between;
			margin-bottom: 30px;
			label {
				font-size: 1.25rem;
				font-weight: 600;
				color: #6f6f6f;
				input {
					width: 365px;
					padding: 12px 30px;
					margin-top: 10px;
					color: #6f6f6f;
					font-size: 1.125rem;
					border: 1px solid #d6d6d6;
				}
			}
		}
		.connect__form__bottom {
			margin-bottom: 30px;
			p {
				font-size: 1.25rem;
				font-weight: 600;
				color: #6f6f6f;
				margin-bottom: 10px;
			}
			textarea {
				border: 1px solid #d6d6d6;
				max-width: 760px;
				width: 100%;
			}
		}
	}
	.connect__btn {
		display: flex;
		gap: 20px;
		justify-content: space-between;
		margin-bottom: 100px;
		button {
			color: #fff;
			padding: 14px;
			border: none;
			outline: none;
			width: 100%;
		}
		.connect__btn-1 {
			background-color: #1d71b8;
		}
		.connect__btn-2 {
			background-color: #191e29;
		}
	}
}
