.weather {
	background: rgba(255, 255, 255, 0.05);
	backdrop-filter: blur(0.9375rem);
	padding: 25px 30px;
	.weather__option {
		display: flex;
		justify-content: space-between;
		.weather__option__select {
			border: 0.125rem solid rgba(255, 255, 255, 0.3);

			width: 19.25rem;
			padding: 0.625rem 1.25rem;
			select {
				width: 100%;
				outline: none;
				border: none;
				background: none;
				color: #fff;
				font-family: "Montserrat";
				font-size: 1.125rem;
				option {
					color: black;
				}
			}
		}

		.weather__option__date {
			padding: 0.625rem 1.25rem;
			border: 0.125rem solid rgba(255, 255, 255, 0.3);
			color: #fff;
			font-family: "Montserrat";
			font-size: 1.125rem;
		}
	}
	.weather__dates {
		display: flex;
		// justify-content: space-between;
		gap: 20%;
		margin-top: 1.25rem;
		.weather__dates__left {
			font-family: "Raleway";

			color: #fff;
			h3 {
				font-size: 3.125rem;
			}
			p {
				margin: 10px 0;
				font-size: 1.125rem;
			}
			span {
				font-size: 1rem;
				font-weight: 500;
			}
		}
		.weather__dates__right {
			display: flex;
			gap: 1.25rem;
			.weather__dates__right__card {
				width: 3.3125rem;
				margin: auto;
				font-family: "Montserrat";
				color: #fff;
				text-align: center;
				font-size: 1.125rem;

				img {
					margin: 10% 0;
					width: 100%;
				}
			}
		}
	}
}

@media (max-width: 678px) {
	.weather {
		padding: 24px;
		.weather__option {
			display: block;
			position: relative;
			.weather__option__select {
				width: 100%;
				padding: 17px 25px;
				select {
					font-size: 14px;
				}
			}
			.weather__option__date {
				position: absolute;
				right: 0px;
				top: 67px;
				font-size: 14px;
				padding: 17px 25px;
			}
		}
		.weather__dates {
			display: block;
			.weather__dates__left {
				display: flex;
				align-items: center;
				gap: 10px;
				margin-bottom: 30px;
				h3 {
					font-size: 30px;
					font-weight: 500;
				}
				div {
					font-weight: 500;
					p {
						font-size: 13px;
					}
					span {
						font-size: 13px;
					}
				}
			}
			.weather__dates__right {
				gap: 2%;
				.weather__dates__right__card {
					width: 33px;
					p {
						font-size: 12px;
						font-weight: 500;
					}
					img {
						width: 70%;
					}
					span {
						font-size: 12px;
						font-weight: 500;
					}
				}
			}
		}
	}
}
